<div class='form js-form'>
  <%= render 'commons/form' %>
</div>

<div class='last_game'>
  <% if @last_game %>
    Последняя игра:  <%= link_to I18n.t(@last_game.my_class), games_my_class_games_path(@last_game.my_class) %> против <b><%= I18n.t(@last_game.opp_class) %>а</b>, результат: <b><%= I18n.t(@last_game.result) %></b>, режим: <b><%= I18n.t(@last_game.type_of_a_game) %></b>, <%= time_ago_in_words(@last_game.created_at) %> назад
  <% end %>
</div>

<% @unique_classes.each do |my_class| %>
  <div class="hero">
    <div class="hero_title">
      <%= link_to I18n.t(my_class), games_my_class_games_path(my_class) %>
    </div>
    <div class="info">
      <ul>
        <li>Всего игр: <%= Game.where(my_class: "#{my_class}", user_id: current_profile.id).count %></li>
        <li>Побед: <%= Game.where(my_class: "#{my_class}", result: :win, user_id: current_profile.id).count %></li>
        <li>Поражений: <%= Game.where(my_class: "#{my_class}", result: :lose, user_id: current_profile.id).count %></li>
        <li>Показатель: <%= percentages(Game.where(my_class: "#{my_class}", result: :win, user_id: current_profile.id).count.to_f, Game.where(my_class: "#{my_class}", user_id: current_profile.id).count.to_f) %></li>
      </ul>
    </div>
  </div>
<% end %>
