<%= simple_form_for @game do |f| %>
  <%= f.input :my_class, selected: Game.last.my_class %>
  <%= f.input :opp_class, selected: Game.last.opp_class %>
  <%= f.input :type_of_a_game, as: :radio_buttons, checked: Game.last.type_of_a_game %>
  <%= f.input :result, as: :radio_buttons, checked: Game.last.result %>
  <%= f.submit 'Создать' %>
<% end %>

<table>
  <thead>
    <th>Мой класс</th>
    <th>Класс противника</th>
    <th>Тип</th>
    <th>Результат</th>
    <th>Винрейт</th>
    <th>Дата</th>
    <th></th>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= t(game.my_class) %></td>
        <td><%= t(game.opp_class) %></td>
        <td><%= t(game.type_of_a_game) %></td>
        <td><%= t(game.result) %></td>
        <td><%= number_to_percentage(math_stat(game.my_class, game.opp_class, game.type_of_a_game)) %></td>
        <td><%= time_ago_in_words(game.created_at) %> назад</td>
        <td><%= link_to 'Удалить', game_path(game), method: :delete, data: { confirm: 'Точно удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
