<%= simple_form_for @game do |f| %>
  <%= f.input :my_class, selected: Game.last.my_class %>
  <%= f.input :opp_class, selected: Game.last.opp_class %>
  <%= f.input :type_of_a_game, as: :radio_buttons, checked: Game.last.type_of_a_game %>
  <%= f.input :result, as: :radio_buttons, checked: Game.last.result %>
  <%= f.submit 'Создать' %>
<% end %>


<% @unique_classes.each do |my_class| %>
  <div class="hero">
    <div class="hero_title">
      <%= I18n.t(my_class) %>
    </div>
    <div class="info">
      <ul>
        <li>Всего игр: <%= Game.where(my_class: "#{my_class}").count %></li>
        <li>Побед: <%= Game.where(my_class: "#{my_class}", result: :win).count %></li>
        <li>Поражений: <%= Game.where(my_class: "#{my_class}", result: :lose).count %></li>
        <li>Показатель: <%= percentages(Game.where(my_class: "#{my_class}", result: :win).count.to_f, Game.where(my_class: "#{my_class}").count.to_f) %></li>
      </ul>
    </div>
  </div>
<% end %>
